<div class="modal fade" id="create_model_modal" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="margin-top: 5%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="edit_qcat_label">
                    Create new Model</h4>
            </div>
            <form action="/analysis" method="POST">
                <div class="modal-body" id="data_view_container">

                    <div class="form-group">
                        <label for="collection">Data Collection</label>
                        <select name="collection">
                            {% for collection in collections %}
                                <option value="{{ collection.collection_id }}"
                                        {% ifequal collection.collection_id current_collection %}selected{% endifequal %}>{{ collection.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <script>
                        function update_additional_parameter(select_id) {
                            $("#sliding_window_field").toggleClass("hidden", $(select_id).val() != 'bound_sliding_window');
                        }
                    </script>
                    <div class="well">
                        <div class="form-group">
                            <label for="collection">Algorithm</label>
                            <select name="algorithm" id="algorithm"
                                    onchange="update_additional_parameter('#algorithm')">
                                <option value="bound_sliding_window">Keogh Sliding Window</option>
                                <option value="max_repeats">Maximal Repeats</option>
                                <option value="max_repeats_compressed">Maximal Repeats with Sequence Compression
                                </option>
                            </select>
                        </div>
                        <div class="form-group" id="sliding_window_field">

                            <label for="algorithm_parameter">Sliding Window Segment Size</label>
                            <input type="number" class="form-control" placeholder="Sliding Window Size"
                                   name="algorithm_parameter">

                            <p style="font-size: .8em">This states how big each motif will be, e.g. 5 would mean abbcc
                                for example</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="model_name">Model Name</label>
                        <input type="text" class="form-control" placeholder="Model Name" name="model_name">
                    </div>
                    <div class="form-group">
                        <label for="window_size">Window Size</label>
                        <input type="number" class="form-control" placeholder="Window Size" value="" name="window_size"
                               min="2">
                    </div>
                    <div class="form-group">
                        <label for="alphabet">Alphabet Length</label>
                        <input type="number" class="form-control" placeholder="Alphabet Length" value="4" min="3"
                               max="20"
                               name="alphabet">
                    </div>

                    <div class="form-group">
                        <label for="cutoff">Cutoff</label>
                        <input type="number" class="form-control" placeholder="How many times something should occur"
                               value="2" min="0"
                               name="cutoff">
                    </div>


                </div>

                <div class="clearfix"></div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success"/>
                </div>
            </form>
        </div>
    </div>
</div>