<div id="flp-basket" class="selection-basket hidden">


    <div id="basket" class="basket-content">
        {#        <div class="btn btn-sm btn-default">#}
        {#            View All Motifs#}
        {#        </div>#}
        <div id="basket-contents">
            {#        this will be rendered using javascript#}
        </div>

    </div>
</div>

<style>

    .basket-header h4 {
        color: #aaa;
        border-bottom: #ddd 1px solid;
    }

    #basket-contents {
        max-height: 700px;
        overflow-y: scroll;
    }

    .selection-basket {
        width: 123px;
        height: 100%;
        position: absolute;
        top: 57px;
        right: 0;
        background: #f1f2f1;
        border-left: 5px solid #f1f2f1;
        opacity: .95;
    }

    #glyph-table {
        overflow-y: scroll;
        height: 387px;
        width: 650px;
    }

    .basket-item {
        padding: 10px;
        height: 80px;
        border-left: 4px solid #f1f2f1;
    }

    .basket-item:hover {
        border-left: 4px solid #D25627;
        background-color: white;
        cursor: pointer;
    }
</style>