<div id="flp-basket" class="selection-basket hidden">

    <div id="basket-contents" class="basket-content">
        {#        this will be rendered using javascript#}
    </div>
</div>

<style>

    .basket-header h4 {
        color: #aaa;
        border-bottom: #ddd 1px solid;
    }

    .selection-basket {
        width: 123px;
        height: 100%;
        position: absolute;
        top: 57px;
        right: 0;
        background: #f1f2f1;
        border-left: 5px solid #f1f2f1;
        opacity: .95;
    }

    .basket-item {
        padding: 10px;
        height: 80px;

    }

    .basket-item:hover {
        background-color: #f6f7f6;
    }
</style>